table {
  width: 400px;
  height: 400px;
  border-collapse: collapse;
  border: 2px solid red;
}

td {
  border: 1px solid #000;
  text-align: center; /*Alinhamento horizontal */
  vertical-align: center; /* Alinhamento vertical */
}

tr.linha {
  background-color: gray;
}
